

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 10;
	padding: 10;
	border: 10;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: black;
    font-size:15px;
    font-family:garamond;
  


}
/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}
#title{
	font-family: helvetica;
	font-size: 14px;
	font-color:black;
	font-weight: bolder;
}


h2 {
	font-family: helvetica;
	font-size: 11px;
	font-weight: bolder;
	

}
h3 {
	font-family: garamond;
	font-size: 25px;
	font-weight: lighter;
	font-style: italic;

}

h4 {font-family:impact;
	font-size:35px;
}
h5{
	font-family:impact;
	font-size:20px;

}
ul li {text-decoration:none;

}
a:link 
{text-decoration:none;

}

/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


