/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Add Styles Here for Home Page */

/* Navigation starts here. */
#logo img
{position: fixed;
	width:50%;
margin:0px 300px}

#logo2 img {
	
		width:50%;
margin:0px 300px}

#header-container{


	
	background-attachment:cover;
	position:fixed;}
	

#header-container img 
{width:50%;
	background-attachment:absolute;

margin:0px 300px}

#top-nav{
	position:fixed;
	top:165px; 
	background-color:black;
	
	height:30px;
	width:100%;
	padding-top:20px;
}
#top-nav li{
	font-family:helvetica;
}

#top-nav a{ color:white;
	text-decoration:none;
text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	font-size: .9em;}


.me  {
	margin-left: 470px;
	margin-bottom: 20px;
	width:300px;
	text-align: center;
	color:gray;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	font-size: .9em;
	margin-top:0px; 
	text-decoration: none;}


.about {
	float:left;
	margin:0px 10px 0 260px;

}

.contact {
	float:right;
	margin-right:300px;
	margin:0px 300px 0px 00px;
}

.resume {
	float:right;
	
	margin:0px 260px 0px 10px;
}

}



#top-nav {
	position:fixed;
	z-index:5;
	top:30px;
	height:30px;
	width:100%;
	padding-top:20px;
}






/* Navigation ends here */

#path
{ margin:0 auto;

 width:800px;}
 .clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility:hidden;
  line-height:0;
  height:0;

}
/*projects*/

.half img{background-position:fixed;
	position:fixed;
	padding-right: 20em;
}

.space{
	margin-top: 10px;
	padding-top: 10px;
}
	
}


#designsec {

	background-color: purple;
	background-color:transparent;
	background-color:transparent;


	float: left;
	width: 90%;
	
	
	
	
}

#projectbox1 {
	float:left;
	width: 20%;
	min-width: 20px;
	max-width: 20%;
	padding: 5%;
	padding-right: 0%;
	margin-left: 17em;
	margin-right: 0em;
	text-align: center;

}

#side-content {
	top:700px;
	float:right;	
	min-width: 10%;
	max-width: 43%;
	padding: 5%;
	padding-left: 1%;
}

#projectbox2 {

	float:left;
	width: 20%;
	min-width: 20px;
	max-width: 20%;
	padding: 5%;
	padding-right: 0%;
	margin-left: 0em;
	margin-right: 0em;
	text-align: center;
}

#projectbox1 h2 {
	 color:gray;

	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	font-size: .9em;
	margin-top:4px; }

#projectbox2 h2 {
	 color:gray;

	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	font-size: .9em;
margin-top:4px;}
	

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Resume css*/

#resume img{


	min-width:20px;
	padding-left:100px;
	}	